.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 40%;
  padding-right: 50%;
  align-items: center;
  overflow-x: scroll;
}

@media screen and (max-width: 700px) {
  .footer {
    padding-left: 120px;
    padding-right: 120px;
  }
}